@import '../node_modules/semantic-ui/dist/semantic.css';

$bg-color: #f5f5f5;
$main-padding: 15px;

html, body {
	height: 100%;
	width: 100%;
	background-color: $bg-color;
	margin: 0;
	padding: 0;
}

main {
	padding: $main-padding;
}

.child-1st-no-top-margin {
	&>*{
		margin-top: 0 !important;
	}
}

// Utils
.no-padding {
	padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

// Study page
// FIXME move into the component
.carousel-item {
	padding: 5px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

// FIXME move to another file and eventually to semantic ui config
// Override semantic-ui css
.hidden.transition {
  display: none !important; // needed to override flex
}

.ui.styled.accordion .content, .ui.styled.accordion .accordion .content {
  padding: 0.5em 1em 1em;
}

.ui.shape .side {
	padding: 5px;
}
